@{
    ViewBag.Title = "Home Page";
}
<div class="h_btm_bg">
    <div class="wrap">
        <div class="h_btm">
            <div class="header-para">
                <h2>Lorem Lipsum dollar sit amet text</h2>
                <h3>Qsi turpis,pellentesque ultrices</h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                    by injected humour,
                    <span>
                        randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need
                        to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                        tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary
                        of over 200 Latin words,
                    </span>
                </p>
            </div>
            <div class="header-banner">
                <img src="/Assets/Admin/images/banner.png" alt="">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="s_bg">
    <div class="wrap">
        <div class="main_cont">
            <section class="slider">
                <div class="flexslider carousel">
                    <ul class="slides">
                        <li>
                            <img src="/Assets/Admin/images/slider1.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider2.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider3.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider4.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider5.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider6.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider7.jpg" />
                        </li>
                        <li>
                            <img src="/Assets/Admin/images/slider8.jpg" />
                        </li>
                    </ul>
                </div>
            </section>
            <div class="ribben">
                <div class="l-triangle-top"></div>
                <div class="l-triangle-bottom"></div>
                <div class="rectangle"></div>
                <div class="r-triangle-top"></div>
                <div class="r-triangle-bottom"></div>
                <div class="clear"></div>
            </div>
            <div class="main">
                <div class="content">
                    <h2>Welcome</h2>
                    <h4>
                        Lorem Ipsum is simply
                        <span>dummy text of the&nbsp;</span>printing and ,
                    </h4>
                    <p>
                        Nam ornare vulputate risus,id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare
                        vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate
                        risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id
                        volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. Pellentesque habitant morbi tristique senectus
                        Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.
                    </p>
                    <p class="top">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                        of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
                        Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator
                        on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                    </p>
                    <div class="rd_more">
                        <a href="details.html">
                            <button class="btn btn-2 btn-2c">Read More</button>
                        </a>
                    </div>
                </div>
                <div class="sidebar">
                    <h2>Recent Projects</h2>
                    <div class="blog_posts">
                        <div class="blog_date">
                            <img src="/Assets/Admin/images/blog1.jpg">
                        </div>
                        <div class="blog_desc">
                            <div class="blog_heading">
                                <p>
                                    <span>Lorem ipsum dolor sit amet consec.</span>
                                </p>
                                <p class="date">
                                    Posted on May 13th, 2013 by
                                    <span class="author">Finibus Bonorum</span>
                                </p>
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have,,</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="blog_posts">
                        <div class="blog_date">
                            <img src="/Assets/Admin/images/blog2.jpg">
                        </div>
                        <div class="blog_desc">
                            <div class="blog_heading">
                                <p>
                                    <span>Lorem ipsum dolor sit amet consec.</span>
                                </p>
                                <p class="date">
                                    Posted on May 13th, 2013 by
                                    <span class="author">Finibus Bonorum</span>
                                </p>
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have,,</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="blog_posts">
                        <div class="blog_date">
                            <img src="/Assets/Admin/images/blog3.jpg">
                        </div>
                        <div class="blog_desc">
                            <div class="blog_heading">
                                <p>
                                    <span>Lorem ipsum dolor sit amet consec.</span>
                                </p>
                                <p class="date">
                                    Posted on May 13th, 2013 by
                                    <span class="author">Finibus Bonorum</span>
                                </p>
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have,,</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
